@charset "utf-8";
#top{
    width:100%;
    height:40px;
    background-color:#f6f6f6;
    border-bottom:1px solid #c5c5c5;
}

.top_menw{
    width:960px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    
    
}

.top_menw h1 img{
    width:135px;
    height:35px;
    padding-top:5px;
    padding-right:30px;
}


.top_wrap{
    width:825px;
    display:flex;
}

.tap_type1 ul{
    display:flex;
    flex:1;
}

.tap_type1 ul li{
    height:38px;
    width:110px;
    text-align:center;
    border-left:none;
    line-height:48px;
    border:1px solid #c5c5c5;
}
.tap_type1 ul li:nth-child(1){
    background-color:#fff;
    border:none;
    height:41px;
    background:#fff;
    border-left:1px solid #c5c5c5;
    border-bottom:1px solid #fff;
    position: relative;
    z-index: 1;
}

.tap_type1 ul li:nth-child(2){
    border-top:none;
    border-bottom:none;
    height:41px;
    width:120px;
}

.tap_type1 ul li:nth-child(3){
   border-left:none;
    border-top:none;
    border-bottom:none;
    height:41px;
    width:96px;
}
.tap_type1 ul li:hover{
    background-color:#fff;
    height:40px;
    border-bottom:1px solid #c5c5c5;
}

.tap_type1 ul li a{
    text-align:center;
    color:#494949;
    font-weight: bold;
    font-size:14px;
}

.tap_type2 ul{
    display:flex;
    
}

.tap_type2 ul .language{
    display:none;
    padding:10px 10px;
    position: relative;
    z-index:1;
    
}
.tap_type2 ul img{
    padding: 0 10px;
}

.tap_type2 ul li:active .language{
    display:block;
    width:120px;
    height:50px;
    background:#fbfbfb;
    background: url(background: url(https://wwwcdn.everland.com/web/images/front/everland/menu/btn_more_down.gif) no-repeat right 1px;) no-repeat right 1px;
    border-radius:18px;
    padding-top:10px;
    border:1px solid #a1a1a1;
}



.tap_type2>ul>li:nth-child(1){
    height: 40px;
    width:120px;
    padding-right: 18px;
    background: url(https://wwwcdn.everland.com/web/images/front/everland/menu/btn_more_down.gif) no-repeat right 1px;
    color: #757575;
    line-height:15px;
    font-weight: bold;
    margin-top:15px;
    text-align:center;
}
.tap_type2>ul>li>div>a>img{
    margin-left:20px;
}

.tap_type2>ul>li:nth-child(2){
    width:100px;
    height:40px;
    background:#ff7f02;
    margin-left:20px;
    text-align: center;
    line-height:40px;
}

.tap_type2>ul>li:nth-child(2)>a{
    color:#fff;
    font-size:12px;
}

.tap_type2>ul>li:nth-child(3){
    width:100px;
    height:40px;
    background:#2dbdca;
    text-align: center;
    line-height:40px;
}
.tap_type2>ul>li:nth-child(3)>a{
    color:#fff;
    font-size:12px;
}

.tap_type2>ul>li:nth-child(4){
    width:100px;
    height:40px;
    background:#892fd5;
    text-align: center;
    line-height:40px;
}
.tap_type2>ul>li:nth-child(4)>a{
    color:#fff;
    font-size:12px;
}
.center{
    display:flex;
    height:70px;
    width:100%;
    border-bottom:2px solid #ff7126;
}
.center_wrap{
    width:960px;
    height:66px;
    display:flex;
    margin:0 auto;
    justify-content:space-between;
    align-items:center;
    position: relative;
}

.center_wrap fieldset #text_search{
    background-image: url(https://wwwcdn.everland.com/web/images/front/everland/menu/btn_search1.gif);
    background-repeat: no-repeat;
    background-position:right;
    border:1px solid #dadada;
    color:#9b9a9b;
    line-height:30px;
    text-align:center;
    width:210px;
    height:30px;
}

.center_wrap .logo{
    position: absolute;
    top:0px;
    left:445px;
}

.center_wrap nav ul{
    display:flex;
    position: relative;
}

.center_wrap nav ul li:nth-child(1)::after{
    content:"";
    height:14px;
    width:1px;
    background:#8d7272;
    position: absolute;
    top:2px;
    left:52px;
}

.center_wrap nav ul li:nth-child(2)::after{
    content:"";
    height:14px;
    width:1px;
    background:#8d7272;
    position: absolute;
    top:2px;
    left:110px;
}
.center_wrap nav ul a{
    font-size:12px;
    color:#8d7272;
    line-height:12px;
    padding-left:10px;
}

 header{
    width:100%;
    height:44px;
    position: absolute;
    overflow:hidden;
    border-bottom:#cccccc;
    background:#fff;
    transition:0.5s;
   
}

header:hover{
    height:370px;
    border:1px solid #f0f0f0;
}

#header_wrap{
    width:960px;
    margin:0 auto;
    border-bottom:#cccccc;
}

#header_wrap ul{
    display:flex;
    text-align:center;
    justify-content: space-between;
    border:red;

 
}

#header_wrap nav>ul>li{
    border-right:1px solid #f0f0f0;
}

#header_wrap nav>ul>li:nth-child(1){
    border-left:1px solid #f0f0f0;
}



#header_wrap nav>ul>li>a{
    display:block;
    width:193px;
    height:44px;
    line-height:44px;
    color:#000;
}

#header_wrap nav>ul>li>a:hover{
    color:#fff;
    background:#ff6600;
    width:193px;
    height:44px;
  
}

#header_wrap ul>li>ul{
    display:flex;
    flex-direction: column;
   
}
#header_wrap ul>li>ul>li{
    margin:15px 0;
}
#header_wrap ul>li>ul>li>a{
    color:#000;
}
#header_wrap ul>li>ul>li>a:hover{
    color:#ff6600;
}


.slider{
    border-top:red;
    margin-top:50px;
    background-image: url(https://wwwcdn.everland.com/web/everland/main/visual_slide/__icsFiles/thumbnail/2020/03/19/BG.jpg);
    background-size:cover;
    background-position:center;
    width:100%;
    height:356px;
}

